body {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0060ba46-d853-4e91-af4c-3e35bdece052/deyhepo-5d2a8566-174b-4871-999a-1e055a7c1ba8.png/v1/fill/w_1192,h_670,q_70,strp/calamitas_background_by_thesilenceart_deyhepo-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvMDA2MGJhNDYtZDg1My00ZTkxLWFmNGMtM2UzNWJkZWNlMDUyXC9kZXloZXBvLTVkMmE4NTY2LTE3NGItNDg3MS05OTlhLTFlMDU1YTdjMWJhOC5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.sdD2VKTa6ewbcHUx9JaClE8FXwoeeucns7R23GB2tIg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.header {
  padding: 0 0;
  height: 43px;
  background-color: #000538;
}
.home-img {
  padding: 0 0;
  margin: 0 0;
}
.account {
  color: white;
  text-decoration: none;
}
.account:hover {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

.vertical-links {
  position: relative;
  text-decoration: none;
  padding: 20px 20px;
  border-top: #ff7300 solid 2px;
  border-bottom: #ff7300 solid 2px;
  border-right: #ff7300 solid 2px;
  background: transparent;
}
.vertical-links::before {
  width: 204px;
  height: 100%;
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: -1;
  text-decoration: none;
  padding: 20px 20px;
  background-color: rgba(20, 20, 20, 0.75);
}

#rightside-container {
  background-color: #282828;
  height: max-content;
}

.links {
  font-size: 15px;
  color: #5a93cc;
  width: 131px;
  height: 13.5px;
  text-decoration: none;
}

.links-table {
  font-size: 12px;
  color: #5a93cc;
  width: 131px;
  height: 13.5px;
  text-decoration: none;
}

/* .vertical-links .links{
    color: #5a93cc;
    width: 131px;
    height: 13.5px;
    text-decoration: none;
} */

.links-table:hover {
  cursor: pointer;
  color: #5a93cc;
  text-decoration: underline;
}

.links:hover {
  cursor: pointer;
  color: #5a93cc;
  text-decoration: underline;
}

.links-table:active {
  cursor: pointer;
  color: #e09d1f;
  text-decoration: underline;
}

.links:active {
  text-decoration: underline;
}

.links:visited {
  color: #3a7abb;
}

.categories p,
hr {
  color: #ff7300;
}

.categories p {
  margin: 20px 0 0 0;
  text-align: left;
}

.categories hr {
  margin-top: 0;
  height: 2px;
}

#right-side-body {
  /* width: 1121px; */
  position: relative;
  height: max-content;
  padding: 3px 40px 20px 40px;
  border-top: #ff7300 solid 2px;
  border-bottom: #ff7300 solid 2px;
  border-left: #ff7300 solid 2px;
  background: transparent;
  /* background-color: #202020; */
  /* opacity: 0.75; */
}

#right-side-body::before {
  /* width: 1121px; */
  content: "";
  position: absolute;
  left: -2px;
  top: -1px;
  width: 100%;
  height: 100%;
  padding: 3px 20px 20px 20px;
  /* border-top: #ff7300 solid 2px;
  border-bottom: #ff7300 solid 2px;
  border-left: #ff7300 solid 2px; */
  /* background: transparent; */
  background-color: rgba(32, 32, 32, 0.75);
  z-index: -1;
  /* opacity: 0.75; */
}

/* #search-box{
  display: flex;
  align-items: center;
} */

#search-box input {
  margin-top: 8px;
  color: grey;
  width: 336px;
  border: grey solid 2px;
  border-radius: 3px;
  background-color: rgb(19, 18, 18);
  opacity: 0.75;
}

#search-box a {
  position: relative;
  left: 93%;
  top: -28px;
  color: grey;
  border: none;
  background-color: rgb(19, 18, 18);
  opacity: 0.75;
  cursor: pointer;
}

#introduce {
  text-align: center;
}

#social-media,
#game-updates a {
  font-weight: bold;
  color: #3a7abb;
  cursor: pointer;
}

#social-media,
#game-updates a:hover {
  color: #3a7abb;
  cursor: pointer;
  text-decoration: underline;
}

#social-media,
#game-updates a:active {
  color: #0157ad;
  cursor: pointer;
  text-decoration: underline;
}
#social-media,
#game-updates {
  display: flex;
  justify-content: center;
}
#game-updates {
  padding: 0;
  margin-top: 0px;
  margin-bottom: 50px;
  /* justify-content: space-between; */
}
#social-media {
  margin-top: 30px;
  margin-bottom: 10px;
}

#version-suport td {
  color: white;
  text-align: center;
}

.table th {
  color: white;
  text-align: center;
  border-radius: 5px;
  background-color: #303030;
}
#items-table,
#mechanics-table {
  height: 350px;
}

#uper-table {
  height: 777px;
}
#bottom-tables {
  margin-top: 83px;
}

#mechanics-table {
  position: relative;
  top: -350px;
}
#Asgards-Valor {
  width: 50px;
  height: 50px;
  position: relative;
  top: -230px;
  left: 88%;
}

#Abombination {
  width: 50px;
  height: 50px;
  position: relative;
  top: -260px;
  left: 88%;
}

#Hive-Mind {
  width: 60px;
  height: 60px;
  position: relative;
  top: -48rem;
  left: 86%;
}

#Atlas {
  position: relative;
  top: -28.5em;
  left: 89%;
}

#Archmage {
  position: relative;
  top: -11.5em;
  left: 77%;
}

#Resource {
  position: relative;
  top: -23.3em;
  left: 82%;
}

#footer-category {
  background-color: #282828;
}

#footer-infor {
  position: relative;
  background: transparent;
  width: 1073px;
  margin-left: 18%;
  margin-top: 20px;
  background-color: rgba(20, 20, 20, 0.75);
  padding-bottom: 10px;
  padding-top: 10px;
}

#footer-infor::before {
  position: absolute;
  width: 100%;
  height: 100%;
  /* margin-left: 18%;
  margin-top: 20px; */
  z-index: -1;
  background-color: rgba(20, 20, 20, 0.75);
}

.wiki-link {
  color: white;
  text-decoration: none;
}

.wiki-link:hover {
  color: white;
  text-decoration: underline;
}

.wiki-link:active {
  color: white;
  text-decoration: underline;
}

#footer-navbar {
  background-color: #000538;
}

#wikimedia {
  font-size: 5px;
  color: white;
  display: block;
  margin: 0 auto;
  background-image: url(https://calamitymod.wiki.gg/resources/assets/poweredby_mediawiki_88x31.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 90px;
  height: 30px;
}

#wikimedia:hover {
  text-indent: -9999px;
  cursor: pointer;
}