body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

button{
    width: 100px;
    height: 45px;
    font-size: .9em;
    margin-left: 359px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    background-color: hsl(224, 93%, 42%);
    color: white;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 100ms;
}

button:hover{
    background-color: hsl(224, 93%, 52%);
}

button:active{
    background-color: hsl(224, 93%, 62%);
}

textarea{
    width: 450px;
    height: 300px;
    font-size: 1.2em;
}