table.F {
    font-size: larger;
    border-collapse: separate;
    width: 100%;
}
table.F td {
    font-size: larger;
    border: 2px solid #000000;
    padding: 8px;
    text-align: left;
}
table.F th {
    border: 2px solid #000000;
    text-align: center;
    background-color: #f2f2f2;
}
#Btn{
    text-align: center;
    font-size: 1em;
}
